.query {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: PingFangSC-Light, Microsoft Yahei, courier;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  margin: 0.67em 0;
  color: #457b9d;
}

.container {
  display: inline-flex;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  font-family: PingFangSC-Light, Microsoft Yahei, courier;
  text-align: center;
  margin-bottom: 300px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.word {
  font-size: 20px;
  color: #f1faee;
  position: relative;
  width: 100%;
  padding: 3px 15px;
}

.error {
  font-size: 20px;
  color: #a8dadc;
  position: relative;
  width: 100%;
  padding: 3px 15px;
}
